*{
  box-sizing: border-box;
}

html{
  font-family: Baskerville Old Face;
  background: white;
  text-transform: capitalize;
  color: #1B4F72;
}

body{
    overflow-y: scroll;
}

h1{
  text-align:center;
  color: #273D3D;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #3498DB;
  padding: 0;
  margin-bottom: 10px;
}

li {
  float: left;
  font-size: 19px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 32px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: black;
  background-color: #D6EAF8;
}

li a.active {
  color: white;
  background-color: #1B4F72;
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}
.slideshow-container {
  max-width: 850px;
  position: relative;
  margin: auto;
  box-shadow: 1px 7px 28px 0px #B5B3A1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(18, 103, 182, 0.348);
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 60px;
  transition-duration: 0.3s;
  cursor: pointer;
}

#btns{
  text-align: center;
  margin: 10px;
}

.log {
  background-color: white;
  color: black;
  border: 2px solid #7EACB9;
  border-radius: 5px;
}

.log:hover {
  background-color: #2E4D55;
  color: white;
}

.sign {
  background-color: white;
  color: black;
  border: 2px solid #B17E70;
  border-radius: 5px;
}

.sign:hover {
  background-color:#71493E;
  color: white;
}
.circle {
    height: 300px;
    width: 300px;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px 20px;
    font-family: 'Alegreya SC';
    font-size: 25px;
    text-transform: none;
    color: white;
    padding: 15px;
    display: flex;
    box-shadow: 4px 11px 15px 1px #8f8cb8;
}
#quotes{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p{
  font-size: 30px;
  font-family: Optima;
  font-weight: bold;
}

.forms{
  color: #0E5F6A;
  background-color: #F9FAFE ;
  font-size: 16px;
  border: 2px solid #192626;
  border-radius: 5px;
  text-align: left;
  padding: 25px;
  width: 400px;
  margin: auto;
}

input[type=submit]{
  background-color: #1AAFC2;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 145px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

input[type=submit]:hover{
  background-color: #1693A3;
}

input[type=text], input[type=password], input[type=datalist] {
       width: 100%;
       margin: 8px 0;
       padding: 12px 20px;
       display: inline-block;
       border: 2px solid #127B89;
       border-radius: 3px;
       box-sizing: border-box;
}

input[type=checkbox]{
  text-align: right;
  margin-top: 5px;
}

#check{
  font-size: 16px;
}
 #crtacc{
   font-size: 16px;
   text-align: center;
 }
.p{
     font-size: large;
     text-align: center;
     line-height: 300%;
  }
.sort {
      margin: 10px;
      float: left;
      width: 230px;
      display: block;
}

#headimg{
  box-shadow: 1px 7px 28px 0px #B5B3A1;
  width: 60%;
  height: auto;
  left: 0px;
  right: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.products {
  box-shadow: 0 4px 8px 0  #7D6608;
  max-width: 250px;
  margin: auto;
  text-align: center;
  transition: transform .3s;
}
.products:hover{
  transform: scale(1.06);
}
.description{
  text-align: left;
  padding: 10px;
  font-size: 15px;
}
.price {
  color: rgb(74, 101, 113);
  font-size: 20px;
  text-align: right;
  padding: 10px;
}

.products button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-image:linear-gradient(to bottom right, #1a2980, #26d0ce); ;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.products button:hover {
  opacity: 0.7;
}

.pageend {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}
